<div class="row">
    {{#each newsStuff}}
        <div class="col-md-12 rowArea">
            <a href= {{link}}> <h5>{{title}}</h5></a>
            <p>{{excerpt}}</p>
            <a href="/notes/{{_id}}" class="btn btn-success btn-sm" role="button">Goto Notes for this Article</a>
            <button type="submit" data-id="{{_id}}" title-id="{{title}}" class="btn btn-danger btn-sm deleteFromSaved"> Delete Article from Saved </button>
        </div>
    {{/each}}
</div>